<link href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="/stylesheets/custom.css" rel="stylesheet" type="text/css" media="all" />
<input type="hidden" id="basePath" value="http://www.sunbowei.com" />
<input type="hidden" id="staticPath" value="http://www.sunbowei.com:3000" />
<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="孙博为,个人博客,学习分享" />
	<meta name="description" content="孙博为的个人博客" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->