<div class="header" id="header">
	<div class="logo">
		<a href="/">SUN</a>
	</div>
	<div class="header-right">
		<span class="menu"><img src="/images/menu.png" alt="" /></span>
		<ul class="nav1">
			<li><a href="/" title="网站首页">HOME</a></li>
			<li><a href="/works-list" title="我的作品">WORKS</a></li>
			<li><a href="/study-list" title="学习分享">STUDY</a></li>
			<li><a href="/recreation" title="我的娱乐">RECREATION</a></li>	
			<li><a href="/news-list" title="消息新闻">NEWS</a></li>
			<li><a href="/me" title="关于我">ABOUT ME</a></li>
		</ul>
	</div>
	<div class="clearfix"></div>
</div>