
<!--banner图开始-->
<div class="banner">
    <div class="container">
        <div class="banner-info text-center">
            <h1>我热爱前端技术</h1>
            <p>希望javascript可以越来越强大  
            <span>实现更多有意思的功能</span></p>
        </div>
    </div>
</div>
<!--banner图结束-->

<div class="welcome">
    <div class="container">
        <h2>欢迎来到我的博客</h2>
        <p>建立这个博客的目的是为了更好的向别人介绍我自己，同时做一些交流和分享，还能方便我去尝试更多感兴趣的技术。欢迎对WEB前端技术同样感兴趣的朋友来一起交流学习。</p>
     </div>
</div>
<!--top-games-section-->
<div class="top-games-section">
    <div class="container">
        <!--sreen-gallery-cursual-->
        <div class="top-games">
          <h3>精彩作品</h3>
        </div>
        <div class="g-views">
            <ul id="userWorks">
            </ul>
        </div>   
    </div>
</div>

<script type="text/javascript" data-main="/javascripts/index.js" src="/javascripts/lib/require-min.js"></script>

