
<!--banner图开始-->
<div class="banner">
    <div class="container">
        <div class="banner-info text-center">
            <h1>我热爱前端技术</h1>
            <p>希望javascript可以越来越强大  
            <span>实现更多有意思的功能</span></p>
        </div>
    </div>
</div>
<!--banner图结束-->

<div class="welcome">
    <div class="container">
        <h2>欢迎来到我的博客</h2>
        <p>建立这个博客的目的是为了更好的向别人介绍我自己，同时做一些交流和分享，还能方便我去尝试更多感兴趣的技术。欢迎对WEB前端技术同样感兴趣的朋友来一起交流学习。</p>
     </div>
</div>
<!--top-games-section-->
<div class="top-games-section">
    <div class="container">
        <!--sreen-gallery-cursual-->
        <div class="top-games">
          <h3>精彩作品</h3>
        </div>
        <div class="g-views">
            <ul id="userWorks">
            </ul>
        </div>   
    </div>
</div>

<!--精灵选择弹出窗-->
<div class="modal fade" id="selFairyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
    <div class="modal-dialog"> 
        <div class="modal-content"> 
            <div class="modal-header"> 
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> 
                <h4 class="modal-title" id="myModalLabel">请选择专属于您的精灵</h4> 
            </div> 
            <div class="modal-body">
                <div class="form-group">
                    <label>精灵名字：</label>
                    <input class="form-control" name="fairyName" id="fairyName" placeholder="不填则以精灵本名代替,名字确定则不可再更改" />
                </div>
                <div class="form-group">
                    <ul id="fairyListByModal" class="fairyListByModal"></ul>
                </div>
            </div> 
            <div class="modal-footer"> 
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> 
                <button type="button" class="btn btn-primary" id="createFairy">确定</button> 
            </div> 
        </div><!-- /.modal-content --> 
    </div><!-- /.modal --> 
</div>

<script type="text/javascript" data-main="/javascripts/index.js" src="/javascripts/lib/require-min.js"></script>

