<!DOCTYPE html>
<html>
<head>
    <title>登陆页</title>
    <% include common.html %>
    <link type="text/css" rel="stylesheet" href="/stylesheets/login.css" />
    <script type="text/javascript" data-main="/javascripts/login.js" src="/javascripts/lib/require-min.js"></script>
</head>
<body>
    <!--公共头部开始-->
    <div class="login_header" id="loginHeader">
        <div class="logo">SUN</div>
        <ul>
            <li><a href="" title="关于我">ME</a></li>
            <li><a href="" title="学习分享">SHARE</a></li>
            <li><a href="" title="我的作品">WORKS</a></li>
            <li><a href="" title="联系方式">CONTACT</a></li>
        </ul>
    </div>
    <!--公共头部结束-->

    <!--内容开始-->
    <div class="login_main">
        <div class="login">
            <!--登陆头像开始-->
            <div class="login_box" id="loginBox">
                <a href="javascript:void(0)" id="loginOpen">
                    <div class="login_img">
                        <em></em>
                    </div>
                </a>
                <p>Hi,I'm Sun</p>
            </div>
            <!--登陆头像结束-->

            <!--登录框开始-->
            <form action="ucenter" method="post" class="login_dialog" id="loginDialog">
                <h2>
                    <span>User Login</span>
                    <a class="close" href="javascript:void(0)" title="关闭" id="loginClose"></a>
                </h2>
                <div class="login_text">
                    <p class="p1">
                        <input id="loginName" name="loginName" tabindex="1" type="text" placeholder="Username" />
                    </p>
                    <p class="p1">
                        <input id="loginPwd" name="loginPwd" tabindex="2" type="password" placeholder="Password" />
                    </p>
                    <p class="p1">
                        <a class="reset" href="javascript:void(0)" title="重置" id="loginReset">reset</a>
                    </p>
                </div>
                <p class="p2">
                    <button class="submit" id="loginSubmit" type="button" tabindex="3" href="javascript:void(0)" title="登录">Login</button>
                </p>
            </form>
            <!--登录框结束-->
        </div>
    </div>
    <!--内容结束-->

    <!--公共底部开始-->
    <div class="login_footer" id="loginFooter">
        <span>孙博为</span>
        @2016 <a target="_blank" href="http://www.miitbeian.gov.cn/">京ICP备16039430号</a>
    </div>
    <!--公共底部结束-->
</body>
</html>
