<!-- Javascript -->
<script src="/loginTemplet/js/jquery-1.11.1.min.js"></script>
<script src="/loginTemplet/bootstrap/js/bootstrap.min.js"></script>
<script src="/loginTemplet/js/jquery.backstretch.min.js"></script>
<script src="/loginTemplet/js/scripts.js"></script>
<script type="text/javascript" data-main="/javascripts/login.js" src="/javascripts/lib/require-min.js"></script>
<input type="hidden" id="basePath" value="http://www.sunbowei.com" />
<input type="hidden" id="staticPath" value="http://www.sunbowei.com:3000" />

<!--[if lt IE 10]>
    <script src="/loginTemplet/js/placeholder.js"></script>
<![endif]-->