<!DOCTYPE html>
<html lang="en">
    <head>
        <title>welcome to sun login</title>
        <% include login-tpl-header.html %>
    </head>

    <body>

        <!-- Top content -->
        <div class="top-content">
            
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1>Welcome to <strong>SUN</strong> Login Form</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3>Login to our site</h3>
                                    <p>Enter your username and password to log on:</p>
                                </div>
                                <div class="form-top-right">
                                    <i class="fa fa-lock"></i>
                                </div>
                            </div>
                            <div class="form-bottom">
                                <form role="form" action="ucenter" method="post" class="login-form" id="loginDialog">
                                    <div class="form-group">
                                        <label class="sr-only" for="loginName">Username</label>
                                        <input type="text" name="loginName" placeholder="Username..." class="form-username form-control" id="loginName">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="loginPwd">Password</label>
                                        <input type="password" name="loginPwd" placeholder="Password..." class="form-password form-control" id="loginPwd">
                                    </div>
                                    <button id="loginSubmit" type="button" class="btn" title="登录">Sign in!</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 social-login">
                            <div class="social-login-buttons">
                                <a class="btn btn-link-2" href="/register">
                                    Sign up
                                </a>
                                <a class="btn btn-link-2" href="#">
                                    Forgot password
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        <% include login-tpl-footer.html %>
    </body>

</html>