<!DOCTYPE html>
<html>
<head>
    <title>登陆页</title>
    <meta charset="UTF-8" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/lib/base.css" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/lib/common.css" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/login.css" />
    <input type="hidden" id="basePath" value="http://123.57.50.14:3000" />
    <script type="text/javascript" data-main="/javascripts/login.js" src="/public/javascripts/lib/require-min.js"></script>
</head>
<body>
    <!--公共头部开始-->
    <div class="login_header">
        <div class="logo">SUN</div>
        <ul>
            <li><a href="" title="关于我">ME</a></li>
            <li><a href="" title="学习分享">SHARE</a></li>
            <li><a href="" title="我的作品">WORKS</a></li>
            <li><a href="" title="联系方式">CONTACT</a></li>
        </ul>
    </div>
    <!--公共头部结束-->

    <!--内容开始-->
    <div class="login_main">
        <div class="login">
            <!--登陆头像开始-->
            <div class="login_box" id="login_box">
                <a href="javascript:void(0)" id="loginOpen">
                    <div class="login_img">
                        <em></em>
                    </div>
                </a>
                <p>Hi,I'm Sun</p>
            </div>
            <!--登陆头像结束-->

            <!--登录框开始-->
            <div class="login_dialog" id="login_dialog">
                <h2>
                    <span>User Login</span>
                    <a class="close" href="javascript:void(0)" title="关闭" id="loginClose"></a>
                </h2>
                <div class="login_text">
                    <p class="p1">
                        <input id="login_name" tabindex="1" type="text" value="Username" />
                    </p>
                    <p class="p1">
                        <input id="login_pwd" tabindex="2" type="text" value="Password" />
                    </p>
                    <p class="p1">
                        <a class="reset" href="javascript:void(0)" title="重置" id="loginReset">reset</a>
                    </p>
                </div>
                <p class="p2">
                    <a class="submit" href="javascript:void(0)" title="登录">Login</a>
                </p>
            </div>
            <!--登录框结束-->
        </div>
    </div>
    <!--内容结束-->

    <!--公共底部开始-->
    <div class="login_footer">
        <span>孙博为</span>
        @2014
    </div>
    <!--公共底部结束-->
</body>
</html>
