<!--start-about-->
<div class="about two">
	<div class="container">
		<h3 class="tittle">关于我</h3>
		<div class="about-top">
			<div class="col-md-7 about-top-right">
				<h4 id="peopleName">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</h4>
				<p id="peopleDesc">Fusce feugiat malesuada odio orbi nunc odio gravida at cursus nec luctus a lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna onec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo.Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend.</p>
			</div>
			<div class="col-md-5 about-top-left">
				<img id="peopleImg" class="img-responsive" alt="孙博为"/>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>	 
</div>
<!--start-models-->