<!-- banner -->
<div class="inner-banner">

</div>
<!-- //banner -->
<!--start-about-->
<div class="about two">
	<div class="container">
		<h3 class="tittle">关于我</h3>
		<div class="about-top">
			<div class="col-md-7 about-top-right">
				<h4 id="peopleName"></h4>
				<p id="peopleDesc"></p>
			</div>
			<div class="col-md-5 about-top-left">
				<img id="peopleImg" class="img-responsive" alt="孙博为"/>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>	 
</div>
<!--start-models-->

<script type="text/javascript" data-main="/javascripts/me.js" src="/javascripts/lib/require-min.js"></script>