<!--我的精灵-->
<div class="myfairy" id="myfairy">
	<div class="showBtn">
		<img src="/images/fairy_show_btn.png" />
	</div>
	<div class="top">
		<!--指令面板-->
		<div class="panel">
			<a href="javascript:void(0)" id="mySign">签到</a>
			<a href="javascript:void(0)" id="selfTxt">自我介绍</a>
			<a href="javascript:void(0)" id="mySkill">我的技能</a>
			<a href="javascript:void(0)" id="hideBox">隐身</a>
		</div>
		<!--自我介绍-->
		<div class="txtBox">
			<p></p>
			<a href="javascript:void(0)" id="fairyBack">返回</a>
		</div>
		<!--我的技能-->
		<div class="skillBox">
			
		</div>
	</div>
	<div class="bottom"></div>
</div>