<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/lib/base.css" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/lib/common.css" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/news.css" />
    <input type="hidden" id="basePath" value="http://123.57.50.14" />
    <script type="text/javascript" data-main="/javascripts/news.js" src="/javascripts/lib/require-min.js"></script>
</head>
<body>
    <!--公共头部开始-->
    <header id="header">
    </header>
    <!--公共头部结束-->

    <!--内容开始-->
    <div class="main">
        <div class="news_detail" id="newsDetail">
        	<h1>第四届“COSPACE国际ACG盛典”</h1>
        	<article>
        		展会名称：COSPACE国际ACG盛典<br>
				场馆：光耀东方国贸国际会展中心<br>
				时间：2016年7月30日<br>
				地点：羊坊店路18号光耀东方广场（北京西站对面）
        	</article>
        </div>
    </div>
    <!--内容结束-->

    <!--公共底部开始-->
    <footer id="footer">
    </footer>
    <!--公共底部结束-->
    </body>
</html>