<!DOCTYPE html>
<html>
<head>
    <title>娱乐</title>
    <meta charset="UTF-8" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/lib/base.css" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/lib/common.css" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/recreation.css" />
    <input type="hidden" id="basePath" value="http://123.57.50.14" />
    <script type="text/javascript" data-main="/javascripts/recreation.js" src="/javascripts/lib/require-min.js"></script>
</head>
<body>
    <!--公共头部开始-->
    <header id="header">
    </header>
    <!--公共头部结束-->

    <!--内容开始-->
    <div class="main">
        <div class="recreation">
        	
        </div>
    </div>
    <!--内容结束-->

    <!--公共底部开始-->
    <footer id="footer">
    </footer>
    <!--公共底部结束-->
    </body>
</html>