<!DOCTYPE html>
<html>
<head>
    <title>学习分享</title>
    <meta charset="UTF-8" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/lib/base.css" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/lib/common.css" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/study.css" />
    <input type="hidden" id="basePath" value="http://123.57.50.14" />
    <script type="text/javascript" data-main="/javascripts/study.js" src="/javascripts/lib/require-min.js"></script>
</head>
<body>
    <!--公共头部开始-->
    <header id="header">
    </header>
    <!--公共头部结束-->

    <!--内容开始-->
    <div class="main">
        <div class="study_list">
        	<dl>
        		<dt>
        			<span>JavaScript</span>
        			<i title="更多">more></i>
        		</dt>
        		<dd>
        			<a href="" title="AMD与CommonJS的区别总结">
	        			<span class="txt_ellipsis">AMD与CommonJS的区别总结</span>
	        			<i>2016-07-27</i>
        			</a>
        		</dd>
        	</dl>
        </div>
    </div>
    <!--内容结束-->

    <!--公共底部开始-->
    <footer id="footer">
    </footer>
    <!--公共底部结束-->
    </body>
</html>