<style>
    #worksList{min-height:400px;}
    .menuButton{width:100%;}
    .menuButton a{color:#999999;font-size:14px;margin-right:30px;line-height:40px;}
    .menuButton a:hover,.menuButton a.current{color:#CA4D4D;font-weight:bold;}
</style>

<!-- banner -->
<div class="inner-banner">

</div>
<!-- //banner -->
<!--gallery-->
<div class="gallery">
        <div class="container">
            <h3 class="tittle">我的作品</h3>
            <p class="menuButton" id="menuButton">
                <a href="javascript:void(0)" id="onlinePC">上线网站--电脑端</a>
                <a href="javascript:void(0)" id="onlinePhone">上线网站--手机端</a>
                <a href="javascript:void(0)" id="staticPC">静态网站--电脑端</a>
                <a href="javascript:void(0)" id="staticPhone">静态网站--手机端</a>
            </p>
            <section>
                <ul id="worksList" class="da-thumbs">
                    
                </ul>
            </section>
        </div>
        
</div>
<!--//gallery-->

<script type="text/javascript" data-main="/javascripts/works.js" src="/javascripts/lib/require-min.js"></script>