<!DOCTYPE html>
<html>
<head>
    <title>作品列表页</title>
    <meta charset="UTF-8" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/lib/base.css" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/lib/common.css" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/works.css" />
    <input type="hidden" id="basePath" value="http://123.57.50.14" />
    <script type="text/javascript" data-main="/javascripts/works.js" src="/javascripts/lib/require-min.js"></script>
</head>
<body>
    <!--公共头部开始-->
    <header id="header">
    </header>
    <!--公共头部结束-->

    <!--内容开始-->
    <div class="main">
        <!--banner图开始-->
        <div class="banner"></div>
        <div class="works_list">
            
            <!--banner图结束-->

            <!--正文开始-->
            <div class="content">
                <div class="left">
                    <h3>网页作品</h3>
                    <nav>
                        <dl>
                            <dt><em></em>上线网站</dt>
                            <dd>
                                <ul>
                                    <li id="onlinePC"><a href="javascript:void(0)">电脑端</a></li>
                                    <li id="onlinePhone"><a href="javascript:void(0)">手机端</a></li>
                                </ul>
                            </dd>
                        </dl>
                        <dl>
                            <dt><em></em>静态网站</dt>
                            <dd>
                                <ul>
                                    <li id="staticPC"><a href="javascript:void(0)">电脑端</a></li>
                                    <li id="staticPhone"><a href="javascript:void(0)">手机端</a></li>
                                </ul>
                            </dd>
                        </dl>
                    </nav>
                </div>
                <div class="right">
                    <div class="position">
                        <em>>></em>
                        <span>当前位置：网站首页 > 我的作品 > 上线网站 > 电脑端</span>
                    </div>
                    <div class="list">
                        <section id="worksList">
                        </section>
                    </div>
                </div>
            </div>
            <!--正文结束-->
        </div>
    </div>
    <!--内容结束-->

    <!--公共底部开始-->
    <footer id="footer">
    </footer>
    <!--公共底部结束-->
    </body>
</html>