@CHARSET "UTF-8";

/*新闻详情
----------------------------------------------------------*/
.news_detail{width:1000px;min-height:700px;margin:20px auto;overflow:hidden;}
.news_detail h1{width:100%;text-align:center;font-size:20px;color:#333333;margin:20px 0;}
.news_detail article{width:100%;font-size:14px;color:#666666;line-height:30px;}