@CHARSET "UTF-8";

/*初始化CSS
--------------------------------------------*/
body{font: 12px/1.5 arial, simsun, georgia, verdana, helvetica, sans-serif; text-align:justify; text-justify:inter-ideograph; font-family:"微软雅黑";}
h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,a,img,body,b,strong,span,code,div,p,i,table,tr,th,td,thead,tbody,label,input,textarea,select,option{margin:0;padding:0;}

ul,ol{list-style:none outside none;}
img{ border:0 none; vertical-align:middle;}
input,select{vertical-align:middle;}
a{text-decoration:none;}
table { border-collapse:collapse; }
address, caption, cite, code, dfn, th, var, optgroup ,em{font-style: inherit;font-weight: inherit;}
abbr, acronym {border: 0;font-variant: normal;}
input, button, textarea, optgroup, option {font-family: inherit;font-size: inherit;font-style: inherit;font-weight: inherit;}
input, button, textarea, select {*font-size: 100%;}
input[type="text"], input[type="password"], textarea { outline-style:none; -webkit-appearance:none; }
textarea{ resize:none;}
input,textarea,button {border:0 none;background:#ffffff;}
input,textarea,a,button {outline:none;}
input::-moz-focus-inner {border:0;}
.clear{clear:both;}


